@import '../../styles/utils/colors';
@import '../../styles/utils/breakpoints';

.selectionBox{
    position: relative;
    width: 160px;
    overflow: hidden;
    padding: 8px 8px 20px 8px;
    background-color: white;
    display: inline-block;
    border: solid 1px $elephant-paw;
    border-radius: 5px;
    text-align: center;

    // for mobile size or less: reduce selection selectionBox width to fix the screen 
    @media screen and (max-width: $mobile) {
      width: 125px;
    }

    &__image {display: block; width: inherit; padding-bottom: 8px;  }
    &__text {
      font-size: 1em; 
      font-weight: 600;
    
      // for mobile size or less: Don't display the subheader on each question 
      @media screen and (max-width: $mobile) {
        display: none;
      }

    }
    input { position: absolute; left: 4px;}
  }