@import '../../styles/utils/colors';
@import '../../styles/utils/mixins';
@import '../../styles/utils/breakpoints';

.learningModule {
    &__header {
        text-align: center;
    }

    &__title {
        margin: 25px 10px;
        color: $morning-sky;
        font-weight: 600;
        font-size: 1.5em;
        
        // Mobile size or less: Align the title to the left  
        @media screen and (max-width: $mobile) {
            text-align: left;
        }
    }

    &__subHeader{
        @include subheader;
        min-height: 42px;
    }
  
    &__answerArea {
        background-color: white;
        box-shadow: 0px 0px 20px -15px;
        padding: 0px 0px 20px 0;
        border-radius: 10px;
        display: grid;
        justify-content: center;
        // Tablet size or less: White container adjust size responsively
        @media only screen and (max-width: $tablet) {
            max-width: 90%;
            margin:auto;
            border-radius: unset;
        }
        // Mobile size or less: White container for the answers is removed.
        @media screen and (max-width: $mobile) {
            background-color: none;
            box-shadow: none;
          }

    }

    &__selections{ 
        padding: 30px 0;
        display: grid;
        grid-auto-flow: column;
        grid-gap: 10px;

        // Tablet size or less: Answers are arranged in a grid of 2x2 elements
        @media screen and (max-width: $tablet) {
            grid-auto-flow: row;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__submitButtonContainer {
        height: 50px;
        .submitButton {
            float: right;

        // Mobile size or less: Button for answer submission is full-width
        @media screen and (max-width: $mobile) {
            float: none;
        }
        }
    }
}
